mixin about-block
    section.section-about-block
        .container
            .about-block
                .about-block__row
                    .about-block__left
                        .about-block__title.font-h2 О нашей компании
                        .about-block__text
                            .formated-text
                                p Наша компания занимается пчеловодством уже более 20 лет. За это время мы смогли создать предприятие, которое ассоциируется с высоким качеством и надежностью. Мы гордимся тем, что наш мёд признан на международном уровне и ценится за свою неповторимость, натуральность и уникальный вкус.
                                p Мы заботимся о здоровье наших потребителей и гордимся тем, что поставляем только экологически чистые продукты, которые полезны и безопасны для здоровья наших клиентов.
                                p Основное отличие нашей компании от других производителей меда заключается в том, что мы используем самые современные и безопасные для жизни пчел методы работы. Мы не только собираем мед, но и активно заботимся о благополучии наших трудолюбивых пчел. Мы работаем с ульями из натуральных материалов, созданными с учетом естественных потребностей пчел. Мы предоставляем пчелам отличные условия для работы и развития, а также вывозим свои пасеки на медоносы, с которых собираем неповторимый мёд, содержащий большое количество полезных веществ.
                            
                    .about-block__right
                        ul.two-column-gallery
                            li: +picturePng('/img/about/1')
                            li: +picture('/img/about/2')
                            li: +picturePng('/img/about/3')
                            li: +picture('/img/about/4')
                .about-block__btn
                    a(href='#'): button.btn.btn-black Узнать подробнее о нашей компании

