mixin text-block
    section.section-text-block
        .text-block 
            .container
                .text-block__wrp
                    .text-block__main
                        .formated-text
                            h2 Oksky — натуральный мёд оптом 
                            p У нас можно купить мёд и другие продукты пчеловодства оптом и в розницу. Oksky это не только производство и оптовая поставка мёда. В нашем ассортименте также орехи, крем-мёд и другая полезная пчелопродукция.

                            ul
                                li проверяем каждую емкость с медом
                                li самостоятельно проводим пыльцевой анализ и определяем процентное содержание пыльцы для монофлерных медов
                                li собственное оборудование: лаборатория, линия фасовки и упаковки
                                li возможно брендирование продукции под вашу СТМ
                                li свой склад меда недалеко от Москвы
                    .text-block__aside
                        .formated-text
                            p Склад и производство: Калужская область, г. Обнинск, Коммунальный проезд, 23.
                            p: a(href='tel:+7 965 705 2722') +7 965 705 2722
                            p: a(href='mailto:daniil.s@oksky-med.ru') daniil.s@oksky-med.ru

                            strong Доставка

                            p Транспортные компании: КИТ, СДЕК и Деловые линии.