 
mixin order-block
    section.section-order-block
        .order-block
            .order-block__bg
                +picturePng('/img/common/bg')
            .order-block__content
                .container
                    .order-block__title Заказывая у нас мед вы инвестируете в экологию
                    .order-block__subtitle Узнайте как мы развиваем экологию
                    .order-block__btn
                        a(href='#'): button.btn Консультация специалиста