include ../../helpers/mixins.pug
 
 
.popup-success
    .popup-success__title Спасибо за заявку!
    .popup-success__desc Мы очень скоро с вами свяжемся!
    .popup-success__btn
        button.btn(data-af-popup="close") Понятно
                                    
                                    