header {
    height: 80px;
    background-color: #f7f3f0;
}

.header {

    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    right: 0;
    background-color: #f7f3f0;
    transition: 0.7s ease;
    border-bottom: 1px solid transparent;

    & .container {
        max-width: 1360px;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;

        @media screen and (min-width: $w992) {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    &__burger {
        margin-right: 7px;

        @media screen and (min-width: $w992) {
            display: none;
        }
    }

    &__menu {
        & ul {
            display: flex;
            align-items: center;
            margin: 0 -16px;

            &.sub-menu {
                display: none;
                position: absolute;
                top: calc(100%);
                left: 0;
                padding-top: 15px;

                & li {
                    & a {
                        padding: 8px 16px;
                        background-color: #fff;
                        display: block;
                        border-bottom: 1px solid rgba(243, 229, 191, 0.76);
                    }

                    &:last-child {
                        & a {
                            border-bottom: none;
                        }
                    }
                }

            }

            & li {
                padding: 0 16px;
                font-size: 17px;
                font-weight: 500;

                & a {
                    font-size: inherit;

                    &:hover {
                        color: var(--main);
                    }
                }

                &.isset-sub {
                    position: relative;

                    &>a {
                        &::after {
                            width: 12px;
                            height: 12px;
                            display: inline-block;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            content: '';
                            margin-left: 10px;
                            margin-right: -10px;
                            transition: 0.3s ease;
                            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAxbDYgNiA2LTYiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
                        }
                    }

                    &:hover {
                        &>a::after {
                            transform: rotate(180deg);
                        }

                        & .sub-menu {
                            display: block;
                        }
                    }
                }


            }
        }
    }

    &__logo {
        width: 100px;
        display: flex;
        align-items: center;

        & .bgimage {
            width: 100px;
            height: 40px;
            @include bgimage-contain;
            background-position-x: left;

            @media screen and (min-width: $w992) {
                width: 100px;
                height: 50px;

                background-position-x: center;
            }
        }
    }

    &__rightbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        & .header__menu {
            display: none;

            @media screen and (min-width: $w576) {
                display: block;
            }
        }
    }

    &__leftbar {
        display: flex;
        align-items: center;
        width: auto;

        @media screen and (min-width: $w992) {
            width: 100%;
        }

        & .header__menu {
            display: none;

            @media screen and (min-width: $w992) {
                display: block;
            }
        }
    }

    &__msgr {

        padding: 0 16px;

        & ul {
            display: flex;
            align-items: center;

            & li {
                padding: 0 6px;
                height: 25px;

                & .ic_vb {
                    & svg {
                        fill: rgb(131, 19, 196);
                    }
                }

                & .ic_wa {
                    & svg {
                        fill: rgb(0, 173, 38);
                    }
                }
            }
        }
    }

    &__lang {
        font-weight: 600;
    }

    &--white {
        background-color: white;
        border-bottom: 1px solid #f7f3f0;

        & .sub-menu {
            & li {
                & a {}
            }
        }
    }
}