mixin first-block
    section.section-first-block
        .first-block
            picture
                source(srcset='/img/11.jpg' type="image/jpeg" media='(min-width: 767px)')
                img(src="/img/22.jpg")