- 
  const app = {

    mainMenu: [

      { 
        text: 'Продукция',  
        href: '/products.html', 
        icon: 'ic_catalog.svg'
      },
      { 
        text: 'Прайс-листы',  
        href: 'prices.html', 
        icon: false
      },
      { 
        text: 'Вакансии',  
        href: 'vacancy.html', 
        icon: false
      },
      { 
        text: 'Контакты',  
        href: 'contacts.html', 
        icon: false
      },
      
       
    ],

    mainMenuMobile: [

      { 
        text: 'Главная',  
        href: '/', 
        icon: false
      },
      { 
        text: 'Продукция',  
        href: '/products.html', 
        icon: false
      },
      { 
        text: 'Прайс',  
        href: 'prices.html', 
        icon: false
      },
      { 
        text: 'Вакансии',  
        href: 'vacancy.html', 
        icon: false
      },
      { 
        text: 'Контакты',  
        href: 'contacts.html', 
        icon: false
      },
      
       
    ],

  };
 

- 
  const icproproom = [
    {
      img: '/img/common/icons/presentation-05.svg',
      name: 'Пл. квартиры',
      val: '122 м2',
    },
    {
      img: '/img/common/icons/presentation-06.svg',
      name: 'Кол-во комнат',
      val: '4',
    },
    {
      img: '/img/common/icons/presentation-07.svg',
      name: 'Кол-во спален',
      val: '3',
    },
    {
      img: '/img/common/icons/presentation-08.svg',
      name: 'Этаж',
      val: '11',
    }
     
  ];

  const icprophouse = [
    {
      img: '/img/common/icons/presentation-01.svg',
      name: 'Пл. квартиры',
      val: 'Кол-во комнат',
    },
    {
      img: '/img/common/icons/presentation-02.svg',
      name: '122 м2',
      val: '4',
    },
    {
      img: '/img/common/icons/presentation-03.svg',
      name: 'Кол-во спален',
      val: '3',
    },
    {
      img: '/img/common/icons/presentation-04.svg',
      name: 'Этаж',
      val: '11',
    },
  ];


  const objects = [
    {
      id: 'ID 24368',
      title: 'Квартира в доме «Сердце Столицы»',
      images: [
        '/img/common/image_1',
        '/img/common/image_2',
        '/img/common/image_3',
        '/img/common/image_4',
        '/img/common/image_5',
      ],
      iconprop: icproproom
    },
    {
      id: 'ID 24368',
      title: 'Квартира в доме «Сердце Столицы»',
      images: [
        '/img/common/image_1',
        '/img/common/image_2',
        '/img/common/image_3',
        '/img/common/image_4',
        '/img/common/image_5',
      ],
      iconprop: icprophouse
    },
    {
      id: 'ID 24368',
      title: 'Квартира в доме «Сердце Столицы»',
      images: [
        '/img/common/image_1',
        '/img/common/image_2',
        '/img/common/image_3',
        '/img/common/image_4',
        '/img/common/image_5',
      ],
      iconprop: icproproom
    },
    {
      id: 'ID 24368',
      title: 'Квартира в доме «Сердце Столицы»',
      images: [
        '/img/common/image_1',
        '/img/common/image_2',
        '/img/common/image_3',
        '/img/common/image_4',
        '/img/common/image_5',
      ],
      iconprop: icproproom
    },
  ];






