/* common styles */

.font-h2 {
    font-size: 34px;
    line-height: 1.23;
    font-weight: 700;

    @media screen and (min-width: $w480) {
        font-size: 42px;
    }
}

.font-h3 {
    font-size: 28px;
    line-height: 1.23;
    font-weight: 700;

    @media screen and (min-width: $w480) {
        font-size: 42px;
    }
}