@font-face {
    font-family: 'Tilda Sans';
    src: url('/fonts/tildasans/subset-TildaSans-Regular.woff2') format('woff2'),
        url('/fonts/tildasans/subset-TildaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('/fonts/tildasans/subset-TildaSans-Light.woff2') format('woff2'),
        url('/fonts/tildasans/subset-TildaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('/fonts/tildasans/subset-TildaSans-Medium.woff2') format('woff2'),
        url('/fonts/tildasans/subset-TildaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('/fonts/tildasans/subset-TildaSans-Medium.woff2') format('woff2'),
        url('/fonts/tildasans/subset-TildaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('/fonts/tildasans/subset-TildaSans-Light.woff2') format('woff2'),
        url('/fonts/tildasans/subset-TildaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('/fonts/tildasans/subset-TildaSans-Semibold.woff2') format('woff2'),
        url('/fonts/tildasans/subset-TildaSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('/fonts/tildasans/subset-TildaSans-Bold.woff2') format('woff2'),
        url('/fonts/tildasans/subset-TildaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('/fonts/tildasans/subset-TildaSans-Bold.woff2') format('woff2'),
        url('/fonts/tildasans/subset-TildaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('/fonts/tildasans/subset-TildaSans-Regular.woff2') format('woff2'),
        url('/fonts/tildasans/subset-TildaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('/fonts/tildasans/subset-TildaSans-Semibold.woff2') format('woff2'),
        url('/fonts/tildasans/subset-TildaSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}